:root {
  --color-primary: #82ae46;
  --color-secondary: #37373f;
  --color-gray: #7f7f90;
  --color-light-gray: #eeeeee;
  --color-white: #ffffff;
}
.navbar-brand {
  width: 50px;
}
.navbar-brand img {
  top: -27px;
  position: absolute;
  width: 75px;
}
.navbar-brand span {
  color: var(--color-primary);
}
.navbar-nav .nav-item .dropdown-toggle {
  font-weight: 700;
  color: var(--bs-nav-link-color);
}
.navbar-nav .nav-link.active {
  border-bottom: 1px solid var(--color-primary);
  transition: border-bottom 0.2s ease;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding-inline: 20px;
  display: inline-block;
  position: relative;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}
.navbar-expand-lg .nav-right .nav-item {
  padding-inline: 5px;
}
.navbar-expand-lg .nav-right .nav-item i {
  color: var(--color-secondary);
  font-size: 20px;
}
.navbar-expand-lg .nav-right .nav-item .ballon {
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 20px;
  border-radius: 15px;
  height: 20px;
  top: 2px;
  left: 23px;
  text-align: center;
  font-size: 12px;
  pointer-events: none;
}
.top-navbar {
  background-color: var(--color-light-gray);
}
.social i {
  color: var(--color-primary);
  font-size: 24px;
  margin: 18px;
  margin-left: 0px;
}
.social .bi-facebook:hover {
  color: #3b5998;
}
.social .bi-instagram:hover {
  color: #ac2bac;
}
.social .bi-envelope:hover {
  color: #ca0000;
}
.social .bi-telephone:hover {
  color: #000;
}
.nav-link i {
  color: var(--color-primary);
}
.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 100%;
}
.header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #5e545491;
  color: var(--color-white);
}
.header_overlay .overlay_text {
  text-align: center;
  margin-top: 200px;
}
.header_overlay .overlay_text h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.overlay_text .shop-btn {
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.overlay_text .shop-btn:hover {
  background-color: #ffffff00;
  color: var(--color-white);
  border: 1px solid var(--color-primary);
}
.sales-container-category,
.sales-container,
.footer-container,
.products-container,
.features-container {
  width: 90%;
  margin-inline-start: 5%;
  padding-top: 3%;
}
.features-container i {
  font-size: 35px;
  color: var(--color-primary);
  margin-bottom: 20px;
}
.features-container h6 {
  font-weight: 700;
  color: var(--color-secondary);
}
.features-container p {
  color: var(--color-gray);
}
.products-container .category-btn {
  font-size: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
}
.products-container .category {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-gray);
  padding-block: 5px;
}
.products-container .category a {
  text-decoration: none;
  color: var(--color-secondary);
}
.products-container .category span {
  color: var(--color-gray);
}
.products-container .category:hover span {
  color: var(--color-secondary);
}
.products-container .search {
  padding-inline: 37px;
  padding-block: 9px;
  border: 1px solid var(--color-gray);
}
.products-container .search-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-inline: 20px;
  border-radius: 0px;
}
.products-container .search-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.products-container .card {
  border: 0px;
}
.products-container .card {
  text-align: center;
}
.products-container .card .card-title {
  font-weight: 400;
}
.products-container .card .card-text {
  font-weight: 700;
}
.products-container .card .badge {
  background-color: rgb(255, 133, 33);
  position: absolute;
  border-radius: 0;
  padding: 10px;
  padding-inline: 20px;
}
.products-container .card .product-img {
  height: 300px;
}
.products-container .card .product-img img {
  height: 100%;
}
.products-container .card img:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}
.products-container .card:hover .product_overlay {
  display: block;
  animation: icons 0.3s linear;
}
.sales-container .item:hover .product_overlay_sales {
  display: block;
}
@keyframes icons {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: 20%;
  }
}
.product_overlay_sales {
  background-color: #00000045;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: none;
}
.product_overlay_sales i {
  background: var(--color-white);
  border-radius: 50%;
  text-align: center;
  padding: 7px;
  position: relative;
  top: 150px;
  left: 25%;
}
.product_overlay {
  position: absolute;
  width: 100px;
  bottom: 20%;
  right: 30%;
  display: none;
}
.product_overlay i {
  background: var(--color-white);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 7px;
}
.product_overlay i:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
#product-modal .modal-dialog {
  max-width: 800px;
}
#product-modal .modal-dialog .modal-body img {
  width: 100%;
}
#product-modal .modal-dialog .modal-body h5 {
  font-weight: 700;
}
#product-modal .modal-dialog .modal-body .price {
  font-weight: 700;
  color: var(--color-primary);
}
#product-modal .modal-dialog .modal-body p {
  font-weight: 400;
  color: var(--color-secondary);
}
#product-modal .modal-dialog .modal-body .btn-product button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  padding-inline: 20px;
  border: none;
  width: 100%;
}
#product-modal .modal-dialog .modal-body .btn-product {
  margin-bottom: 20px;
}
#product-modal .modal-dialog .modal-body .btn-product i {
  margin-inline: 10px;
}
#product-modal .modal-dialog .modal-body .btn-product .quantity {
  padding: 8px;
}

.sales-container .item {
  height: 600px;
}
.sales-container-category .item img {
  height: 200px;
}
.sales-container .item img {
  height: 150px;
}
.sales-container h4 {
  color: var(--color-secondary);
}

.owl-theme .owl-nav button.owl-next {
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: 0px;
  width: 35px;
  height: 35px;
}

.owl-theme .owl-nav button.owl-prev {
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: 30px;
  width: 35px;
  height: 35px;
}
.owl-nav i {
  color: var(--white);
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  color: var(--color-primary);
  background: none;
}
.footer {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.footer-container {
  padding-bottom: 10px;
}
.footer-container i:hover {
  color: var(--color-primary);
}
.footer-container span {
  font-size: 18px;
  font-weight: 700;
}
.footer-container p {
  margin-top: 15px;
  color: var(--color-light-gray);
}
.footer-container p + p {
  margin-top: -15px;
}

.footer-container .social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.footer-container .icon-flex,
.footer-container .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer-container .icon-wrapper i {
  margin: 0 auto;
  color: var(--color-light-gray);
}
.footer-container .icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-light-gray);
  font-size: 3rem;
  width: 50px;
  height: 50px;
}
.footer-container .copy {
  background-color: var(--red);
  text-align: center;
}
.footer-container .copy p {
  color: var(--color-light-gray);
  padding-block: 10px;
  margin-bottom: 0;
}
.footer-container .copy span {
  color: var(--color-primary);
}
.footer-container .line-footer {
  background-color: var(--color-gray);
  height: 1px;
  margin-block: 10px;
}
.cart-container .bi-plus-circle,
.cart-container .bi-dash-circle {
  font-size: 20px;
  color: var(--color-primary);
}
.cart-container .bi-trash-fill {
  font-size: 25px;
  color: #c90404;
}
.cart-container .apply-btn {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.cart-container .apply-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
@media (max-width: 575px) {
  .cart-container .card img {
    width: 25%;
  }
  .products-container .search {
    width: 100%;
  }
  .navbar-nav .nav-item .dropdown-toggle {
    margin-left: -15px;
  }
}
.cart-container .card-header p {
  display: inline-block;
  margin-right: 20px;
}
.cart-container .card-header span {
  color: var(--color-secondary);
  font-weight: bold;
}
.cart-container h2 {
  color: var(--color-secondary);
}
.custom-modal h2 {
  margin-bottom: 0px;
}
.custom-modal .modal-dialog .modal-body img {
  width: 100px;
}
.custom-modal .btn-modal {
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.custom-modal .btn-modal:hover {
  background-color: #dbdbdb00;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
